<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713714126223-atsr2mn7vpqeel5l1vnb8qffe2ekgg86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713714126223-atsr2mn7vpqeel5l1vnb8qffe2ekgg86</string>
	<key>API_KEY</key>
	<string>AIzaSyA0ePCQpQd6GaTVoW1XtOoZHVLarACL-Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>713714126223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.holoo.pakasep</string>
	<key>PROJECT_ID</key>
	<string>pakasep-f37aa</string>
	<key>STORAGE_BUCKET</key>
	<string>pakasep-f37aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713714126223:ios:0072ffb274398a5866cffa</string>
</dict>
</plist>